# Rust
**/target/

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.coverprofile

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Python Virtual Environment and cache
.venv/
.pytest_cache/
__pycache__/
*.pyc

# Local built binaries
/agent
